<!DOCTYPE html>
<html lang="en" dir="">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/modules/base/head :: head}"></head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="wrapper">
			<!-- header top menu Start -->
			 <header th:replace="~{fragments/modules/base/header :: header}"></header>
			<!-- header top menu end -->

            <div class="page-wrap">
				<!--=============== Left Menu side Start ================-->
				<div th:replace="~{fragments/modules/base/menu :: menu}"></div>
				<!--=============== Left side End ================-->
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="page-header">
                            <div class="row align-items-end">
                                <div class="col-lg-6">
                                    <div class="page-header-title">
                                        <i class="far fa-list-alt bg-blue"></i>
                                        <div class="d-inline">
                                            <h5>Complaint List</h5>
                                            <span>Mayor Petition</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="/index"><i class="ik ik-home"></i></a>
                                            </li>
                                            <li class="breadcrumb-item" aria-current="page">Mayor Petition</li>
                                            <li class="breadcrumb-item active" aria-current="page">Complaint List</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                        <div class="row">
                        	<div class="col-md-12">
                        		<form onsubmit="return callsearch();">
                        			<div class="card">
                        				<div class="card-block row">
	                        				<div class="col-md-4">
	                        					<div class="form-group">
						                            <label for="searchmonth">Select Month:</label>
														<select class="form-control" id="searchmonth" name="searchmonth">
															<option value="" selected="" disabled="">Select Month</option>
														    <option value="01">January</option>
														    <option value="02">February</option>
														    <option value="03">March</option>
														    <option value="04">April</option>
														    <option value="05">May</option>
														    <option value="06">June</option>
														    <option value="07">July</option>
														    <option value="08">August</option>
														    <option value="09">September</option>
														    <option value="10">October</option>
														    <option value="11">November</option>
														    <option value="12">December</option>
														</select>
						                        </div>
						                    </div>
						                    <div class="col-md-4">
	                        					<div class="form-group">
						                            <label for="searchyear">Select Year</label>
						                            <select class="form-control" name="searchyear" id="searchyear" required="">
														<option value="" selected="" disabled="">Select Year</option>
														<option value="2025">2025</option>
														<option value="2024">2024</option>
														<option value="2023">2023</option>
														<option value="2023">2022</option>
													</select>
						                        </div>
						                    </div>
						                    <div class="col-md-4 pt-5"><br>
	                        					<button type="reset" class="btn btn-secondary mr-2" id="resetFormBtn"><i class="ik ik-refresh-cw"></i>Reset</button>
						            			<button type="submit" class="btn btn-success" id="searchSubmitBtn"><i class="ik ik-search"></i>Search</button>
						                    </div>
                        				</div>
                        			</div>
                        		</form>
                        	</div>
                            <div class="col-md-12">
                                <div class="card">
                                    
                                    <div class="card-block">
										<div id="tableLoading"></div>
                                        <div>
											<table id="complaintDatatable" class="table table-striped table-bordered table-hover dataTable" role="grid" width="100%">
                                                <thead class="thead-dark">
	                                                <tr class="table-bordered">
						                                <th class="text-center no-sort">S.No</th>
														<th class="text-center">Petition No.</th>
						 								<th class="text-center">Name</th>
						 								<th class="text-center">Mobile</th>
						 								<th class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
														<th class="text-center">Postal Code</th>
						                                <th class="text-center">Type of Complaint</th>
						                                <th class="text-center">Date</th>
						                                <th class="text-center">Status</th>
						                                <th class="text-center">Department Officer</th>
						                                <th class="text-center no-sort no-exportable no-print"><i class="ik ik-more-horizontal"></i></th>
						                             </tr>
                                                </thead>
                                                <tbody>
	                                                	
                                                </tbody>
                                                <tfoot class="thead-dark">
	                                                <tr>
						                                <th class="text-center no-sort">S.No</th>
														<th class="text-center">Petition No.</th>
						 								<th class="text-center">Name</th>
						 								<th class="text-center">Mobile</th>
						 								<th class="text-center">Address</th>
														<th class="text-center">Postal Code</th>
						                                <th class="text-center">Type of Complaint</th>
						                                <th class="text-center">Date</th>
						                                <th class="text-center">Status</th>
						                                <th class="text-center">Department Officer</th>
						                                <th class="text-center no-sort no-exportable no-print"><i class="ik ik-more-horizontal"></i></th>
													</tr>
                                                </tfoot>
                                                 
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <footer th:replace="~{fragments/modules/base/footer :: footer}"></footer>
            </div>
        </div>
		
	    <div th:replace="~{fragments/modules/m_petition/modal-box :: div}"></div>   
        
        <div th:replace="~{fragments/modules/base/app_module_menu_box :: div}"></div>
       
        <script th:replace="~{fragments/modules/base/script :: script}"></script>
        <script th:replace="~{fragments/modules/m_petition/script :: script}"></script>
        <script th:inline="javascript">
       		var createdBy = /*[[${LoginUserId}]]*/'';
        	var loading_text_msg = getLoadingMessage(); // get Random loading message from base/script
        	var officerMasterList = "";
        	
        	// Loading Div id
        	const loading = $("#tableLoading");
	     	
        	// DataTables buttons configuration
	        var buttons = [
	        	{
					extend: 'pageLength',
					className: 'btn btn-warning'
				},
	            {
					title: 'Data export',
	                extend: 'copyHtml5',
	                text: 'Copy',
	                className: 'btn btn-secondary',
	                id: 'copyBtn'
	            },
	            {
	                extend: 'excelHtml5',
	                text: 'Excel',
	                className: 'btn btn-secondary',
	                id: 'excelBtn',
	                title: 'Petition List'
	            },
	            {
	                extend: 'csvHtml5',
	                text: 'CSV',
	                className: 'btn btn-secondary',
	                id: 'csvBtn',
	                title: 'Petition List'
	            },
	            {
	                extend: 'pdfHtml5',
	                text: 'PDF',
	                className: 'btn btn-secondary',
	                id: 'pdfBtn',
	                title: 'Petition List'
	            },
	            {
	                extend: 'print',
	                text: 'Print',
	                className: 'btn btn-secondary',
	                id: 'printBtn',
	                title: 'Petition List',
	                exportOptions: {
	                    columns: ':visible:not(.no-print)' // Exclude columns with class 'no-print' from print view
	                }
	            },
	            {
					extend: 'colvis',
					className: 'btn btn-warning'
				},
	        ];
			
        	
	        function call_loading(){
				loading.html(searchinfo("<b>"+loading_text_msg+"</b>"));
			}
			
			function remove_loading(){
				loading.html("");
			}
			
	        
	        /* Get Complaints Data */
	        function get_complaint_data(month,year){
	        	var apiUrl = '/gcc/api/m_petition/getComplaintList?loginId='+createdBy+'&searchmonth='+month+'&searchyear='+year;
	        	//alert(apiUrl);
	    	    // Return a Promise
	    	    return new Promise(function(resolve, reject) {
	    	        $.ajax({
	    	            url: apiUrl,
	    	            type: 'GET',
	    	            dataType: 'json',
	    	            success: function(jsonResponse) {
	    	                // Resolve the Promise with the department list
	    	                resolve(jsonResponse);
	    	            },
	    	            error: function(xhr, status, error) {
	    	                // Reject the Promise with the error message
	    	                reject(error);
	    	            }
	    	        });
	    	    });
	        }
	        
	        /* Get Officer Master Data */
	        function get_officer_master_data(){
	
	    		get_officer_list().then(function(officers) {
	    		    // Handle the officer list
	    		    officerMasterList = officers;
					
	    		}).catch(function(error) {
	    		    // Handle errors
	    		    console.error('Error fetching offcier master data:', error);
	    		});
			}
	        
	        /* Get Complaints List */
	        function get_complaint_list(month,year){
	        	get_complaint_data(month,year).then(function(complaintList) {
	    		    // Handle the complaint list
	    		    generate_table(complaintList);
	    		    
	    		}).catch(function(error) {
	    		    // Handle errors
			        if (error && error.message) {
			            console.error('Error fetching complaint list:', error.message);
			        } else {
			            console.error('An error occurred while fetching complaint list:', error);
			        }
	    		});
			}
	        
	        function viewPetitionSummary(petitionNo){
	        	$("#viewpetition").modal({
				    backdrop: 'static',
				    keyboard: false
				}); // Show Modal Box
				
				var url = '/gcc/m_petition/view-petition-modal?petitionNo='+petitionNo;
				$.ajax({
				    url: url,
				    type: 'GET',
				    dataType: 'html',
				    success: function(data) {
				      $('#viewPetitionBoxBody').html(data); // Inject content into modal body
				    },
				    error: function(xhr, status, error) {
				      console.error("Error loading URL:", error);
				      // Handle error, display a message, etc.
				    }
				  });
				
				return false;
			}
	        
	        function updateStatus(mapId){
	        	$("#ComplaintStatusBox").modal({
				    backdrop: 'static',
				    keyboard: false
				}); // Show Modal Box
				
				callComplaintDetails(mapId);
				return false;
			}
	        
	        function callComplaintDetails(mapId){
	        	loading_text_msg = getLoadingMessage(); // get Loading random text
	        	var loading=searchinfo("<b>"+loading_text_msg+"</b>");
	    		var complaintContentHTML=`
	    							<div class="row">
	    							    <div class="col-lg-6">
	    						        <div class="block block-rounded">
	    						           
	    						                <div id="leftContainer">${loading}</div>
	    						            
	    						        </div>
	    						    </div>
	    						    
	    						    <div class="col-lg-6 printack2">
	    						        <div class="block block-rounded">
	    						            
	    						                <div id="rightContainer">${loading}</div>
	    						           
	    						        </div>
	    						    </div>
	    						    <!--<div class="col-lg-12 text-center block-options pt-10">
	    						        <button type="button" class="btn btn-warning btn-rounded btn-block-option" onclick="window.print()"><i class="ik ik-printer"></i> Print</button>
	    						    </div>-->
	    						</div>`;
	    		
	    		$('#ComplaintStatusBoxBody').html(complaintContentHTML); // Box content (Body)
	    		
	    		getComplaintData(mapId);
			}
	        
	        function getComplaintData(mapId){
	        	get_complaint_details_byId(mapId).then(function(complaintDetails) {
	        		
	        		var complaintStatus = complaintDetails[0].status;
					
	        		var statusBadge = complaintStatus.charAt(0).toUpperCase() + complaintStatus.slice(1);
	        		var refRibben = `<div class="card-header-right" style="top:auto;">
	        							Ref ID: ${mapId}
				              	      </div>`;
           	        var statusRibben = ""; 
	        		if(complaintStatus=='pending'){
	        			statusRibben = `<div class="ribbon">
		              	      <div class="wrap">
		              	        <span class="ribbon6 bg-danger"><div styel="color:#fff;">${statusBadge}</div></span>
		              	      </div>
		              	    </div>`;
		              	statusRibben = "";    
	        			statusBadge = `<span class="badge badge-danger" style="font-size:10px;padding:0.25em 0.4em;">${statusBadge}</span>`;
	        			
					}
	        		else if(complaintStatus=='close'){   
	        			statusBadge = `<span class="badge badge-success" style="font-size:10px;padding:0.25em 0.4em;">${statusBadge}</span>`;
					}
	        		var complaintRightBody = "";
	        		
	        		var fileType_c = complaintDetails[0].file_type;
					fileType_c = fileType_c.split("/").pop();
					var filetypeico_c = "file-lines";
					if(fileType_c=='pdf'){
						filetypeico_c = "file-pdf";
					}
					else{
						filetypeico_c = "file-image";
					}
					
					var complaintLeftBody = `<div class="card mb-0">
								             	<div class="card-header" style="color: #004085;background-color: #e7eff7;">
								                	<h3>Complaint Details</h3>
								                	${statusRibben}
								                </div>
								                <div class="card-body">
									                <table class="table table-borderless table-vcenter mb-0" style="font-size:12px;">
												      <tbody>
												        <tr>
												          <th style="padding: 0.45rem 0.45rem;">நாள் / Date : </th>
												          <td class="fw-semibold" style="padding: 0.45rem 0.45rem;">
												           ${convertdate(complaintDetails[0].cdate)}
												          </td>
												        </tr>
												        <tr>
												          <th style="padding: 0.45rem 0.45rem;">ஒப்புகை சீட்டு எண்/ Acknowledgement No:</th>
												          <td class="fw-semibold" style="padding: 0.45rem 0.45rem;">
												           ${complaintDetails[0].petition_no}
												          </td>
												        </tr>
												        <tr>
												          <th style="padding: 0.45rem 0.45rem;">பெயர் / Name :</th>
												          <td class="fw-semibold" style="padding: 0.45rem 0.45rem;">
												           ${complaintDetails[0].petitioner_name}
												          </td>
												        </tr>
												        <tr>
												          <th style="padding: 0.45rem 0.45rem;">கைபேசி எண் / Mobile No.</th>
												          <td class="fw-semibold" style="padding: 0.45rem 0.45rem;">
												           ${complaintDetails[0].petitioner_mobile}
												          </td>
												        </tr>
												        <tr>
												          <th colspan="2" style="padding: 0.45rem 0.45rem;">புகாரின் தன்மை / Nature of complaint:<br><p class="fw-semibold mb-0" style="font-weight:normal;">${complaintDetails[0].complaint_nature}</p></th>
												        </tr>
												        <tr>
												        	<td colspan="2" style="padding: 0.45rem 0.45rem;">
													        	<div class="like-comm mt-20 mb-0"> 
					                                        	<b>ஆவணப் பதிவேற்றம் / Document Upload:</b><br>
					                                        	
						                                        	<table class="table table-bordered table-vcenter mb-0">
														                <thead>
														                  <tr>
														                    <th>S.no</th>
														                    <th>File Name</th>
														                    <th>Size</th>
														                    <th>Type</th>
														                    <th><i class="ik ik-more-horizontal"></i></th>
														                  </tr>
														                </thead>
													                	<tbody>
													                 		<tr>
																            	<td class="fw-semibold">1</td>
																            	<td class="fw-semibold">${complaintDetails[0].file_name}</td>
																            	<td class="fw-semibold">${formatFileSize(complaintDetails[0].file_size)}</td>
																            	<td class="fw-semibold">${fileType_c}</td>
																            	<td class="fw-semibold">
																            		<a href="javascript:void(0)" class="link mr-10" onclick="downloadFile('petition','${complaintDetails[0].file_name}','${complaintDetails[0].file_type}');" data-animation="true" data-toggle="tooltip" data-placement="top" data-html="true" title="Download File"><i class="fa fa-fw fa-download" style="font-size: 18px;"></i></a>
																            		<a href="javascript:void(0)" class="link mr-10" onclick="viewFile('petition','${complaintDetails[0].file_name}','${complaintDetails[0].file_type}');" data-animation="true" data-toggle="tooltip" data-placement="top" data-html="true" title="View File"><i class="far fa-3x fa-${filetypeico_c}" style="font-size: 18px;"></i></a>
																            	</td>
														                  	</tr>
													                	</tbody>
													              	</table>
					                                   			</div>
													        	<table class="table table-bordered table-vcenter mb-0">
													                <thead>
													                  <tr>
													                    <th>Complaint <i class="fa fa-arrow-right"></i> Status</th>
													                    <th class="text-right" id="complaint_forward_link">
													                    <!--
													                    <a href="javascript:void(0);" onclick="return forward_compliant(${complaintDetails[0].mapid}, '${complaintDetails[0].complaint_type}');" class="link" data-animation="true" data-toggle="tooltip" data-placement="top" data-html="true" title="Click here to forward this complaint to another department officer."><i class="far fa-share-square"></i> Click to forward </a>
													                    -->
													                    </th>
													                  </tr>
													                </thead>
												                	<tbody>
												                 		<tr>
															            	<td colspan="2" class="fw-semibold">
															            	${complaintDetails[0].complaint_type} <i class="fa fa-arrow-right"></i> ${statusBadge} <i class="fa fa-arrow-right"></i> ${complaintDetails[0].off_nm}
														                    </td>
													                  	</tr>
												                	</tbody>
												              	</table>
												        	</td>
												        </tr>
												      </tbody>
												    </table>
								                </div>
								            </div>`;
					
					$('#leftContainer').html(complaintLeftBody);
					
					if(complaintStatus!='close'){
						complaintRightBody =`<form class="action-form" id="action-form" onsubmit="return saveandclose();" enctype="multipart/form-data">
												<div class="card mb-0">
							                    	<div class="card-header" style="color: #004085;background-color: #e7eff7;">
							                    		<h3>Complaint Update Details</h3>
							                    	    ${refRibben}
							                		</div>
							                		<div class="card-body">
								                		<div class="form-group">
					                                    	<label for="complaintActionText">நடவடிக்கை / Action:</label>
									   						<textarea class="form-control" id="complaintActionText" name="complaintActionText" rows="6" maxlength="250" placeholder="புகாரின் தன்மை..." required></textarea>
									   					</div>
									   					<div class="form-group">
									                       <label for="action_san_page1">ஆவணப் பதிவேற்றம் / Document Upload:</label>
														   <input name="action_san_page1" id="action_san_page1" class="form-control" type="file" capture="camera"  accept="application/pdf, image/*" required>
														 </div>
														 <div class="form-group mb-0 text-center">
														 	<button type="button" class="btn btn-sm rounded-pill btn-hero btn-success me-1" onclick="javascript:saveandclose(${mapId},${complaintDetails[0].petition_id},'${complaintDetails[0].petition_no}');" id="updatebtn"><i class="ik ik-save"></i> Save and Close </button>
														 </div>
							                		</div>
							            		</div>
						            		</form>`;
						$('#rightContainer').html(complaintRightBody);
					}
					else{
						// first remove forward link
						$("#complaint_forward_link").html("");
						
						get_complaint_action_byId(mapId).then(function(complaintAction) {
							var fileType = complaintAction[0].file_type;
							fileType = fileType.split("/").pop();
							var filetypeico = "file-lines";
							if(fileType=='pdf'){
								filetypeico = "file-pdf";
							}
							else{
								filetypeico = "file-image";
							}
							
							complaintRightBody =`<form class="action-form" id="action-form" onsubmit="return saveandclose();" enctype="multipart/form-data">
													<div class="card mb-0">
								                    	<div class="card-header" style="color: #004085;background-color: #e7eff7;">
								                    		<h3>Complaint Update Details</h3>
								                    	    ${refRibben}
								                		</div>
								                		<div class="card-body">
									                		<div>
									                			<b>நடவடிக்கை தேதி / Action Date:</b> ${convertdate(complaintAction[0].cdate)}
					                                            <hr>
					                                            <b>நடவடிக்கை / Action:</b><br>
					                                            <p class="mt-10">${complaintAction[0].comments}</p>
					                                        </div>
					                                        	<hr>
					                                        <div class="like-comm mt-20 mb-0"> 
					                                        	<b>ஆவணப் பதிவேற்றம் / Document Upload:</b><br>
					                                        	
						                                        	<table class="table table-bordered table-vcenter mb-0">
														                <thead>
														                  <tr>
														                    <th>S.no</th>
														                    <th>File Name</th>
														                    <th>Size</th>
														                    <th>Type</th>
														                    <th><i class="ik ik-more-horizontal"></i></th>
														                  </tr>
														                </thead>
													                	<tbody>
													                 		<tr>
																            	<td class="fw-semibold">1</td>
																            	<td class="fw-semibold">${complaintAction[0].file_name}</td>
																            	<td class="fw-semibold">${formatFileSize(complaintAction[0].file_size)}</td>
																            	<td class="fw-semibold">${fileType}</td>
																            	<td class="fw-semibold">
																            		<a href="javascript:void(0)" class="link mr-10" onclick="downloadFile('action','${complaintAction[0].file_name}','${complaintAction[0].file_type}');" data-animation="true" data-toggle="tooltip" data-placement="top" data-html="true" title="Download File"><i class="fa fa-fw fa-download" style="font-size: 18px;"></i></a>
																            		<a href="javascript:void(0)" class="link mr-10" onclick="viewFile('action','${complaintAction[0].file_name}','${complaintAction[0].file_type}');" data-animation="true" data-toggle="tooltip" data-placement="top" data-html="true" title="View File"><i class="far fa-3x fa-${filetypeico}" style="font-size: 18px;"></i></a>
																            	</td>
														                  	</tr>
													                	</tbody>
													              	</table>
					                                   		</div>
								                		</div>
								            		</div>
							            		</form>`;
							$('#rightContainer').html(complaintRightBody);
							// Enable tooltips for all elements with data-toggle="tooltip"
				            $('[data-toggle="tooltip"]').tooltip();
						}).catch(function(error) {
			    		    // Handle errors
			    		    console.error('Error fetching action details ('+mapId+'):', error);
			    		});	 
						
					}
					// Enable tooltips for all elements with data-toggle="tooltip"
		            $('[data-toggle="tooltip"]').tooltip();
	        	}).catch(function(error) {
	    		    // Handle errors
	    		    console.error('Error fetching Complaint details ('+mapId+'):', error);
	    		});	            
	        	
			}
	        
	        /* Call DataTable function */
	        function generate_table(data){
	        	// Check if the DataTable is already initialized and destroy it
	            if ($.fn.dataTable.isDataTable('#complaintDatatable')) {
	                $('#complaintDatatable').DataTable().destroy();
	            }
	            var table = $('#complaintDatatable').DataTable( {
				        dom: 'Bftip',
				        columnDefs: [
						  { targets: 'no-sort', "orderable": false },
						  { targets: 'no-exportable', "exportable": false }
						],
				        lengthMenu: [
				            [ 50, 100, 200, 500, -1 ],
				            [ '50 rows', '100 rows', '200 rows','500 rows', 'Show all' ]
				        ],
				        /*scrollY: '50vh',*/
				        fixedColumns: {
					        left: 0,
					        right: 0
					    },
				        buttons: [buttons],
				        responsive: true,
				        searching: false,
				        select: false,
				        processing: false,
				    } );
	            
	            // Clearn Table data
	            table.clear().draw();
	            
	         	// Add rows to DataTable
	         	var rowNum = 1;
	            $.each(data, function(index, row) {
	            	var complaint_status=row["status"];
					complaint_status=complaint_status.charAt(0).toUpperCase() + complaint_status.slice(1);
					
					actionHTML = `<div class="dropdown d-inline-block show">
			                        <a class="nav-link dropdown-toggle" href="#" id="moreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="ik ik-more-horizontal"></i></a>
			                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="moreDropdown" x-placement="bottom-end">
			                        Action for: `+row['petition_no']+` 
			                        	<a class="dropdown-item" href="" onclick="return viewAck('`+row['petition_no']+`');" data-animation="true" data-toggle="tooltip" data-placement="top" data-html="true" title="View Acknowledgement"><i class="ik ik-eye"></i> Acknowledgement</a>
			                        	<a class="dropdown-item" href="/gcc/m_petition/petition-ack/`+row['petition_no']+`" data-animation="true" data-toggle="tooltip" data-placement="top" data-html="true" title="Print Acknowledgement"><i class="ik ik-printer"></i> Acknowledgement</a>
			                        </div>
			                    </div>`
	                table.row.add([
	                	rowNum++,
	                    '<a href="/gcc/m_petition/update-petition?petitionNo='+row['petitionNoEncode']+'" onclick="return viewPetitionSummary(\''+row['petitionNoEncode']+'\');">'+row['petition_no']+'</a>',
	                    row['petitioner_name'],
	                    row['petitioner_mobile'],
	                    row['petitioner_address'],
	                    row['petitioner_pincode'],
	                    row['complaint_type'],
	                    convertdate(row['cdate']),
	                    '<a href="#" onclick="return updateStatus('+row['mapid']+');" style="text-transform: capitalize;"">'+complaint_status+'</a>',
	                    row['off_nm'],
	                    actionHTML
	                ]).draw(false);
	            });
	            
	            // Enable tooltips for all elements with data-toggle="tooltip"
	            $('[data-toggle="tooltip"]').tooltip();
	            remove_loading(); // remove Loading 
	            onSearchComplete();
			}
			
	     // Save New Action  
			function saveandclose(mapId,petitionId,petitionNo){
				// Disable the button to prevent multiple clicks
				form_btn_disable();
				
				var comments = $('#complaintActionText');
				var textLength = comments.val().length;
				comments.removeClass('is-invalid');
				
				var fileInput = $("#action_san_page1");
				fileInput.removeClass('is-invalid');
				var selectedFile = fileInput.val();
				
				if (textLength>=10 && selectedFile) {
					
					// Serialize form data
			        var formData = new FormData($('#action-form')[0]);
			        formData.append('createdBy',createdBy);
			        formData.append('mapId',mapId);
			        formData.append('petitionId',petitionId);
			        formData.append('petitionNo',petitionNo);
			        formData.append('complaintStatus','close');
			        
			        saveActionFormData(formData).then(function(response) {
						if(response!="error"){
							// Handle the response
		    		    	Swal.fire({
		        				title: 'Complaint action saved successfully.',
		        				customClass: {
		        			        title: 'swal-title-custom' // Add a custom class for the title
		        			    },
		        				//text: "Error",
		        				icon: 'success',
		        				showCancelButton: false,
		        				confirmButtonColor: '#3085d6',
		        				cancelButtonColor: '#d33',
		        				confirmButtonText: 'Ok',
		        				}).then(function(result) {
		        				if (result.isConfirmed) {
		        					$("#ComplaintStatusBox").modal('hide');
		        				}
		        			});
						}
						else{
							// Handle the response
							// if response == "error"
		    		    	Swal.fire({
		        				title: 'Failed to save complaint action. Please try again!',
		        				customClass: {
		        			        title: 'swal-title-custom' // Add a custom class for the title
		        			    },
		        				//text: "Error",
		        				icon: 'error',
		        				showCancelButton: false,
		        				confirmButtonColor: '#3085d6',
		        				cancelButtonColor: '#d33',
		        				confirmButtonText: 'Ok',
		        				}).then(function(result) {
		        				if (result.isConfirmed) {
		        					form_btn_enable();
		        				}
		        			});
						}
		    		    
	    		    	
		    	    }).catch(function(error) {
		    		    // Handle errors
		    		    console.error('Error on save petition:', error.message);
		    		    form_btn_enable();
	    			});
				}
				else{
					if(textLength<10){
						comments.addClass('is-invalid');
					}
					
					if (!selectedFile) {
						fileInput.addClass('is-invalid');
					}
					form_btn_enable();
				}
				return false;
			}
			
			function saveActionFormData(formData){
				var apiUrl = '/gcc/api/m_petition/saveComplanitStatus';
			    // Return a Promise
			    return new Promise(function(resolve, reject) {
					$.ajax({
						url: apiUrl,
					    type: 'POST',
					    data: formData,
					    processData: false,
					    contentType: false,
					    success: function(response) {
					        console.log(response);
					        // Handle success response
					        resolve(response);
					    },
					    error: function(xhr, status, error) {
					        console.error('Error:', error);
					        // Handle error response
					        reject(error);
					    }
					});
			    });
			}
			
			function form_btn_enable(){
				$("#updatebtn").prop("disabled", false);
				$("#updatebtn").html('<i class="ik ik-save"></i> Save and Close ');
			}
			
			function form_btn_disable(){
				$("#updatebtn").prop("disabled", true);
				// Show the loading icon on the button
				$("#updatebtn").html('<i class="fas fa-spinner fa-spin"></i> Validating your request, please wait...');
			}
			
			// For Complient Map Select HTML 
			function calloffice(val,id){
				if(val==1){ // Intenal
					var officeSelectHTML = `<div class="mb-4">
	                							<label for="office${id}">Select Office</label>
	                							<select name="office[]" id="office${id}" class="form-control" onchange="javascript:callofficers(this.value,${id})">
									                <option value="0">Select Office</option>
									                <option value="1">HQ</option>
									                <option value="2">Zonal Office</option>
							                	</select>
						                	</div>`;
					$("#officedata"+id).html(officeSelectHTML);
				}
				else if(val==2){ // External
					$("#officers"+id).html('');
					var ExSelectHTML = getselect(id,"ExSelect");
					var departmentSelectHTML = `<div class="mb-4">
													<label for="dept3">Select Department</label>
													${ExSelectHTML}
											 	</div>`;
					$("#officedata"+id).html(departmentSelectHTML);
				}
				else{
					$("#officedata"+id).html('');
					$("#officers"+id).html('');
				}
				$("#officers"+id).html('');
			}
			
			function callofficers(val,id){
				
				if(val==1){
					// HQ
					var HQSelectHTML = getselect(id,"HQSelect");
				 	$("#officers"+id).html(`<div class="mb-4"><label for="mapOfficers${id}">Select Department</label>${HQSelectHTML}</div>`);
				}
				else if(val==2){
					// Zone Office
					var ZoneSelectHTML = getselect(id,"ZoneSelect");
					$("#officers"+id).html(`<div class="mb-4"><label for="mapOfficers${id}">Select Department</label>${ZoneSelectHTML}</div>`);
				}
				else{
					$("#officers"+id).html('');
				}
				
			}
			
			function getselect(comid,type){
		  	  var HQSelect = '';
		  	  var ZoneSelect = '';
		  	  var ExSelect = '';
		  
		  	  for (var i = 0; i < officerMasterList.length; i++) {
		  		  if(officerMasterList[i].zone_id=="HQ"){
		  			  HQSelect+=`<option value="${comid}_${officerMasterList[i].off_id}">${officerMasterList[i].off_nm}</option>`;
		  		  }
		  		  else if(officerMasterList[i].zone_id=="99"){
		  			  ExSelect+=`<option value="${comid}_${officerMasterList[i].off_id}">${officerMasterList[i].off_nm}</option>`;
		  		  }
		  		  else{
		  			  ZoneSelect+=`<option value="${comid}_${officerMasterList[i].off_id}">${officerMasterList[i].off_nm}</option>`;
		  		  }
		  	  }
		  	  
		  	// Forward Save Button
			  var forward_Btn = `<div class="col-12 pt-3 mb-0 pb-0" id="submitdiv">
									<label class="form-label" for="forwardcomp">Forward Comments</label>
									<textarea class="js-maxlength form-control" id="forwardcomp" name="forwardcomp" rows="6" maxlength="250" placeholder="கருத்துகள்..." data-always-show="true" data-placement="right" th:utext="" required></textarea>
			  						<div class="text-center pt-3">
									<button type="button" class="btn btn-sm rounded-pill btn-hero btn-success me-1" onclick="javascript:saveForward(${comid});" id="updatebtn"><i class="si si-rocket me-1"></i> Save and Forward</button>
			  						<div id="forwardFormError" class="text-danger"></div>
			  						</div>
								</div>`;
								
		  	  if(type=="HQSelect"){
		  	  	 return `<select name="mapOfficers" id="mapOfficers${comid}" class="form-control"> <option value="0"> &nbsp; </option>${HQSelect}</select>${forward_Btn}`;
		  	  }
		  	  if(type=="ZoneSelect"){
		  	  	 return `<select name="mapOfficers" id="mapOfficers${comid}" class="form-control"> <option value="0"> &nbsp; </option>${ZoneSelect}</select>${forward_Btn}`;
		  	  }
		  	  if(type=="ExSelect"){
		  	  	 return `<select name="mapOfficers" id="mapOfficers${comid}" class="form-control"> <option value="0"> &nbsp; </option>${ExSelect}</select>${forward_Btn}`;
		  	  }
		  	  return '';
			}
			$(document).ready(function() {
				// Get the current date
			    var currentDate = new Date();
			    
			    // Get the current month (0-based, so +1 to get the correct month)
			    var currentMonth = currentDate.getMonth() + 1; // getMonth() returns 0-11
			    var currentYear = currentDate.getFullYear();
			    var finalMonth = ("0" + currentMonth).slice(-2); // Format to 2 digits
			    // Set the month and year to the current values
			    document.getElementById("searchmonth").value = finalMonth;
			    document.getElementById("searchyear").value = currentYear;
			    
				call_loading();
				get_officer_master_data();
				get_complaint_list(finalMonth,currentYear);
				
			});
			
			function callsearch() {
			    // Get selected month and year from the dropdown
			    var finalMonth = document.getElementById("searchmonth").value;
			    var finalYear = document.getElementById("searchyear").value;

			    // Check if both month and year are selected
			    if (finalMonth && finalYear) {
			    	// Disable the submit button
			        document.getElementById('searchSubmitBtn').disabled = true;
			        document.getElementById('searchSubmitBtn').innerHTML = 'Searching...'; // Change button text
			        
			    	call_loading();
			        // Call the function to get the petition list
			        get_complaint_list(finalMonth, finalYear);
			    } else {
			        // If month or year is not selected, you can show an alert or do nothing
			        alert("Please select both month and year.");
			        return false;
			    }

			    return false; // To prevent form submission (optional, if you don't want to reload the page)
			}
			function onSearchComplete() {
			    // Re-enable the submit button
			    document.getElementById('searchSubmitBtn').disabled = false;
			    document.getElementById('searchSubmitBtn').innerHTML = '<i class="ik ik-search"></i>Search'; // Reset button text
			}
		</script>
    </body>
</html>
