<!DOCTYPE html>
<html lang="en" dir="">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/modules/base/head :: head}"></head>
    <body>
        
                        <div class="row">
							<div class="col-12">
                                <div class="card mb-0" id="petitionViewtable">
					             	<div class="card-header" style="color: #004085;background-color: #e7eff7;">
					                	<h3>Petition Details</h3>
					                	<div class="card-header-right text-center block-options pt-10" style="padding-right: 20px;">
									        <a href="javascript:void(0);" onclick="window.print()" class="link"><i class="ik ik-printer"></i> Print</a>
									    </div>
					                </div>
					                <div class="card-body">
					                	<div class="row">
											<div class="col-6">
								                <table class="table table-bordered table-vcenter" style="font-size:12px;">
											      <tbody>
											        <tr>
											          <th style="padding: 0.45rem 0.45rem;">நாள் / Date: </th>
											          <td class="fw-semibold" style="padding: 0.45rem 0.45rem;" id="cdate_value"></td>
											        </tr>
											        <tr>
											          <th style="padding: 0.45rem 0.45rem;">ஒப்புகை சீட்டு எண்/ Acknowledgement No:</th>
											          <td class="fw-semibold" style="padding: 0.45rem 0.45rem;" id="petition_no_value"></td>
											        </tr>
											        <tr>
											          <th style="padding: 0.45rem 0.45rem;">பெயர் / Name:</th>
											          <td class="fw-semibold" style="padding: 0.45rem 0.45rem;" id="petitioner_name_value"></td>
											        </tr>
											        <tr>
											          <th style="padding: 0.45rem 0.45rem;">கைபேசி எண் / Mobile No.</th>
											          <td class="fw-semibold" style="padding: 0.45rem 0.45rem;" id="petitioner_mobile_value"></td>
											        </tr>
											        <tr>
											          <th style="padding: 0.45rem 0.45rem;">மனுதாரரின் முகவரி / Address of petitioner:</th>
											          <td class="fw-semibold" style="padding: 0.45rem 0.45rem;" id="petitioner_address_value"></td>
											        </tr>
											        <tr>
											          <th colspan="2" style="padding: 0.45rem 0.45rem;border: 0px;">புகாரின் தன்மை / Nature of complaint:<br>
											          <p class="fw-semibold mb-0" style="font-weight:normal;" id="complaint_nature_value"></p>
											          </th>
											        </tr>
											        <tr>
											        	<td colspan="2" style="padding: 0.45rem 0.45rem;border: 0px;" id="complaint_with_maping_value"></td>
											        </tr>
											        <tr>
											          <th colspan="2" style="padding: 0.45rem 0.45rem;border: 0px;">குறிப்பு / Remarks:<br>
											          <p class="fw-semibold mb-0" style="font-weight:normal;" id="remarks_value"></p>
											          </th>
											        </tr>
											        <tr>
											        	<td colspan="2" style="padding: 0.45rem 0.45rem;border: 0px;" id="remarks_with_value"></td>
											        </tr>
											      </tbody>
											    </table>
											</div>
											
											<div class="col-6">
												
								                <table class="table table-bordered table-vcenter" style="font-size:12px;">
											      <tbody>
											      	<tr>
											          <th style="padding: 0.45rem 0.45rem;">Petition Status: </th>
											          <td class="fw-semibold text-center" style="padding: 0.45rem 0.45rem;" id="petition_status_value"></td>
											        </tr>
											        <tr>
											          <th style="padding: 0.45rem 0.45rem;">Total number of complaints in this petition: </th>
											          <td class="fw-semibold text-center" style="padding: 0.45rem 0.45rem;" id="total_complaints_value"></td>
											        </tr>
											        <tr>
											          <th style="padding: 0.45rem 0.45rem;">Total Complaints Completed:</th>
											          <td class="fw-semibold text-center" style="padding: 0.45rem 0.45rem;" id="total_complaints_completed_value"></td>
											        </tr>
											        <tr>
											          <th style="padding: 0.45rem 0.45rem;">Total Complaints Pending:</th>
											          <td class="fw-semibold text-center" style="padding: 0.45rem 0.45rem;" id="total_complaints_pending_value"></td>
											        </tr>
											      </tbody>
											    </table>
												
												
												<table class="table table-bordered table-vcenter mb-0">
									                <thead>
									                  <tr>
									                    <th id="petition_summary_title">Pending Summary</th>
									                  </tr>
									                </thead>
								                	<tbody>
									                	<tr style="background-color:#fbffe0;">
												          <td class="fw-semibold text-center" style="padding: 0.45rem 0.45rem;" id="petition_summary_html"></td>
												        </tr>
								                	</tbody>
								              	</table>
								              	
											</div>
										</div>
										<div class="row">
											
											<div class="col-12">
												<div class="card-title">List of Complaints in this Petition and Their Status:</div>
												<div id="listOfComplaintsHTML"></div>
											</div>
										</div>
					                </div>
					            </div>
                            </div>
                            
                        </div>
                        
        <script th:replace="~{fragments/modules/com_petition/script :: script}"></script>
       	<script th:replace="~{fragments/modules/com_petition/petition_view_script :: script}"></script>
    </body>
</html>
