				<div class="row">
					<div class="col-12 mb-2">
						<div class="input-group mb-0">
							<span class="input-group-prepend">
                        	<button type="button" id="filter_reset_btn" class="btn btn-success" onclick="callReSetEventId(0);" data-toggle="tooltip" data-animation="true" data-placement="top" data-original-title="Reset" title="Reset">
                          	  <i class="ik ik-refresh-ccw"></i>
                        	</button>
                        	</span>
						 <select class="form-control" id="search_department_id" name="search_department_id">
	                        <option value="0">All Department`s</option>
	                      </select>
	                      <span class="input-group-append">
                         <button type="button" id="filter_search_btn" class="btn btn-success" onclick="callSetEventId();" data-toggle="tooltip" data-animation="true" data-placement="top" data-original-title="Search" title="Search">
                           <i class="ik ik-search me-1"></i> Search
                         </button>
                         </span>
						</div>
					</div>
				</div>