<script th:inline="javascript">
			var createdBy = /*[[${LoginUserId}]]*/'';
			var estid = /*[[${estid}]]*/'';
			
			var petitionId = 0;
			var closedComplaintsList=[];
			var complaintTypeList = "";
			var officerMasterList = "";
			
	     
			 /* Get Petition data */
			function get_works_data(){
				get_works_details().then(function(worksDetails) {
					
					//console.log(worksDetails); 
					//console.log(worksDetails[0].id); 
					
				    // Handle the data list
				    $("#selectedestid").val(worksDetails[0].estid);
				    
				    // 1. Basic Details
				    $("#estno").html(worksDetails[0].estimate_no);
					$("#estdate").html(convertdate(worksDetails[0].estimate_date));
					$("#zone_ward").html(worksDetails[0].zone +" / "+ worksDetails[0].ward);
					$("#projectname").html(worksDetails[0].project_name);
					$("#location").html(worksDetails[0].location);
					
					
					// 2. Department and Contractor Details
					
					$("#department").html(worksDetails[0].department);
					$("#contractorname").html(worksDetails[0].contractor_name);
					$("#contractorperiod").html(worksDetails[0].contractor_period);
					
					// 3. Funding and Scheme Details
					$("#sourceoffund").html(worksDetails[0].fund_source);
					$("#scheme").html(worksDetails[0].scheme);
					$("#category").html(worksDetails[0].category);
					$("#subcategory").html(worksDetails[0].sub_category);
					$("#estamount").html(worksDetails[0].estimation_amount);
					$("#ordervalue").html(worksDetails[0].est_val_with_oh);
					
					
					// 4. Sanctions and Tender Process
					if(worksDetails[0].technical_sanction_date==null){
						$("#techsanctiondate").html();
					}
					else{
						$("#techsanctiondate").html(convertdate_2(worksDetails[0].technical_sanction_date));
					}
					/* ===========*/
					if(worksDetails[0].admin_sanction_date==null){
						$("#techsanctiondate").html();
					}
					else{
						$("#adminsanctiondate").html(convertdate_2(worksDetails[0].admin_sanction_date));
					}
					/* ===========*/
					if(worksDetails[0].tender_called_date==null){
						$("#tendercalldate").html();
					}
					else{
						$("#tendercalldate").html(convertdate_2(worksDetails[0].tender_called_date));
					}
					/* ===========*/
					if(worksDetails[0].tender_finalized_date==null){
						$("#tenderfinalizeddate").html();
					}
					else{
						$("#tenderfinalizeddate").html(convertdate_2(worksDetails[0].tender_finalized_date));
					}
					
					
					// 5. Contract and Execution Details
					
					if(worksDetails[0].loa_date==null){
						$("#loadate").html();
					}
					else{
						$("#loadate").html(convertdate_2(worksDetails[0].loa_date));
					}
					/* ===========*/
					if(worksDetails[0].agreement_date==null){
						$("#agreementdate").html();
					}
					else{
						$("#agreementdate").html(convertdate_2(worksDetails[0].agreement_date));
					}
					/* ===========*/
					if(worksDetails[0].work_order_date==null){
						$("#workorderdate").html();
					}
					else{
						$("#workorderdate").html(convertdate_2(worksDetails[0].work_order_date));
					}
					/* ===========*/
					if(worksDetails[0].work_commenced_date==null){
						$("#workcommenceddate").html();
					}
					else{
						$("#workcommenceddate").html(convertdate_2(worksDetails[0].work_commenced_date));
					}
					
					/*
					// 4. Sanctions and Tender Process
					$("#techsanctiondate").html(convertdate_2(worksDetails[0].technical_sanction_date));
					$("#adminsanctiondate").html(convertdate_2(worksDetails[0].admin_sanction_date));
					$("#tendercalleddate").html(convertdate_2(worksDetails[0].tender_called_date));
					$("#tenderfinalizeddate").html(convertdate_2(worksDetails[0].tender_finalized_date));
					
					// 5. Contract and Execution Details
					$("#loadate").html(convertdate_2(worksDetails[0].loa_date));
					$("#agreementdate").html(convertdate_2(worksDetails[0].agreement_date));
					$("#workorderdate").html(convertdate_2(worksDetails[0].work_order_date));
					$("#workcommenceddate").html(convertdate_2(worksDetails[0].work_commenced_date));
					*/
					// 6. File Details
					$("#adminfile").html(
						  `<a href="${worksDetails[0].admin_sanction_file}" 
						      target="_blank" 
						      onclick="window.open(this.href, 'popup', 'width=800,height=600'); return false;">
						      View
						  </a>`
						);
					$("#loafile").html(
						  `<a href="${worksDetails[0].loa_file}" 
						      target="_blank" 
						      onclick="window.open(this.href, 'popup', 'width=800,height=600'); return false;">
						      View
						  </a>`
						);
					$("#agreementfile").html(
						  `<a href="${worksDetails[0].agreement_file}" 
						      target="_blank" 
						      onclick="window.open(this.href, 'popup', 'width=800,height=600'); return false;">
						      View
						  </a>`
						);
					$("#workorderfile").html(
						  `<a href="${worksDetails[0].work_order_file}" 
						      target="_blank" 
						      onclick="window.open(this.href, 'popup', 'width=800,height=600'); return false;">
						      View
						  </a>`
						);
					
					
					// For Update
					
					$("#project_type").html(worksDetails[0].project_type);
					$("#govt_funded_project").html(worksDetails[0].govt_funded_project);
					$("#special_category").html(worksDetails[0].special_category);
					
					/*
					// 4. Sanctions and Tender Process
					$("#erptechsanctiondate").val(convertdate_2(worksDetails[0].technical_sanction_date));
					$("#erpadminsanctiondate").val(convertdate_2(worksDetails[0].admin_sanction_date));
					$("#erptendercalldate").val(convertdate_2(worksDetails[0].tender_called_date));
					$("#erptenderfinalizeddate").val(convertdate_2(worksDetails[0].tender_finalized_date));
					
					// 5. Contract and Execution Details
					$("#erploadate").val(convertdate_2(worksDetails[0].loa_date));
					$("#erpagreementdate").val(convertdate_2(worksDetails[0].agreement_date));
					$("#erpworkorderdate").val(convertdate_2(worksDetails[0].work_order_date));
					$("#erpworkcommenceddate").val(convertdate_2(worksDetails[0].work_commenced_date));
					*/
				}).catch(function(error) {
				    // Handle errors
				    console.error('Error fetching works data ('+estid+'):', error.message);
				});
			}
			 
			/* Get Petition details by petition number */
			function get_works_details() {
			    
				var formData = new FormData();
				var apiUrl = '/gcc/works/api/estimates/getUserEstWorkDetailsById?estid='+estid;
			    // Return a Promise
			    return new Promise(function(resolve, reject) {
			        $.ajax({
			            url: apiUrl,
			            type: 'GET',
			            //data: formData,
			            dataType: 'json',
			            success: function(jsonResponse) {
			                // Resolve the Promise with the department list
			                if(jsonResponse.length>0){
			                	resolve(jsonResponse);
							}else{
								//call_petition_search_from("Invalid Petition Number: Please provide a valid petition number.");
								console.log('Fetched petition details ('+petitionNo+') Is null:');
							}
			                
			            },
			            error: function(xhr, status, error) {
			                // Reject the Promise with the error message
			                console.error('Error fetching petition details ('+petitionNo+'):', error.message);
			                reject(error);
			            }
			        });
			    });
			}

		function searchRequest(){
			var searchValue = $('#petitionNoSearch').val();
			if (searchValue && searchValue.trim() !== '') {
				searchValue = encodeBase64(searchValue);
				window.location.href = "/gcc/c_petition/view-petition?petitionNo="+searchValue;
			}
			else{
				//call_petition_search_from("Invalid EST ID: Please provide a valid EST number.");
			}
			return false;
		}
		</script>
		<script>
		$(document).ready(function() {
			
			if(estid!=null && estid!="error"){
				get_works_data();
			}
			else{
				if(estid=="error"){
					alert("Invalid EST Number: Please provide a valid EST number." + estid);
				}
				else{
					alert(estid);
				}
			}
			
		});
		
		
		// For Work Stage
		function get_works_stage_data(estid){
			let stageListHTML = "";
			//alert(estid);
			getStageList(estid).then(function(worksStages) {
				//alert(worksStages.length);
		        for (let i = 0; i < worksStages.length; i++) {
		        	action = `<a href="" onclick="return EditStage(${worksStages[i].tmid},${worksStages[i].estid});">Edit</a>`;
		            stageListHTML += `
		                <tr>
		                    <td style="padding: 0.45rem 0.45rem;">${i+1}</td>
		                    <td class="fw-semibold">${worksStages[i].stagename}</td>
		                    <td class="fw-semibold">${worksStages[i].orderby}</td>
		                    <td class="fw-semibold">${action}</td>
		                </tr>`;
		        }

		        $("#stageListHTML").html(stageListHTML);
		    });	
		}
		function getStageList(estid){
			var formData = new FormData();
			var apiUrl = '/gcc/works/api/estimates/getUserEstWorkStageDetailsByEstid?estid='+estid;
		    // Return a Promise
		    return new Promise(function(resolve, reject) {
		        $.ajax({
		            url: apiUrl,
		            type: 'GET',
		            //data: formData,
		            dataType: 'json',
		            success: function(jsonResponse) {
		                // Resolve the Promise with the department list
		                if(jsonResponse.length>0){
		                	resolve(jsonResponse);
						}else{
							//call_petition_search_from("Invalid Est Id: Please provide a valid EST number.");
							//console.log('Fetched petition details ('+petitionNo+') Is null:');
						}
		                
		            },
		            error: function(xhr, status, error) {
		                // Reject the Promise with the error message
		                console.error('Error fetching Est details ('+petitionNo+'):', error.message);
		                reject(error);
		            }
		        });
		    });
		}
		
		// For Work Stage
		function get_works_edit_stage_data(estid,tmid){
			let stageListHTML = "";
			//alert(estid);
			getStageList(estid).then(function(worksStages) {
				//alert(worksStages.length);
		        for (let i = 0; i < worksStages.length; i++) {
		        	if(worksStages[i].tmid=tmid){
		        		$("#tmid_stage").val(worksStages[i].tmid);
		        		$("#estid_stage").val(worksStages[i].estid);
		        		$("#orderby_stage").val(worksStages[i].orderby);
		        		$("#stagename_stage").val(worksStages[i].stagename);
					}
		        }

		        $("#stageListHTML").html(stageListHTML);
		    });	
		}
		function EditStage(tmid,estid){
        	$("#addeditStage").modal({
			    backdrop: 'static',
			    keyboard: false
			}); // Show Modal Box
			
			var url = '/gcc/works/edit_stage_modal?tmid='+tmid+'&estid='+estid;
			
			$.ajax({
			    url: url,
			    type: 'GET',
			    dataType: 'html',
			    success: function(data) {
				  $('#addeditStageTitle').html("Add / Edit Work Stage");
			      $('#addeditStageBoxBody').html(data); // Inject content into modal body
			      get_works_edit_stage_data()
			    },
			    error: function(xhr, status, error) {
			      console.error("Error loading URL:", error);
			      // Handle error, display a message, etc.
			    }
			  });
			
			return false;
		}
		
		
		</script>