			
			<!--  Box 1 -->
			<div class="modal fade" id="ackModalBox" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	            <div class="modal-dialog modal-xl" role="document">
	                <div class="modal-content">
	                    
	                  	<div class="modal-header">
	                          <h6 class="modal-title m-0" id="ackModalTitle">Modal Title</h6>
		                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    </div><!--end modal-header-->
	                    <div class="modal-body">
                        	<div id="ackModalBody">
							</div>
                    	</div><!--end modal-body-->
						
	                    <div class="modal-footer bg-body">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div><!--end modal-footer-->
	               
	                </div><!--end modal-content-->
	            </div><!--end modal-dialog-->
	        </div><!--end modal-->
			<!-- END Page Content -->
			
			<!--  Box 2 -->
			<div class="modal fade" id="ComplaintStatusBox" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	            <div class="modal-dialog modal-xl" role="document">
	                <div class="modal-content">
	                    
	                  	<div class="modal-header">
	                          <h6 class="modal-title m-0" id="complaint-title">புகார் நிலை / Complaint Status:</h6>
		                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    </div><!--end modal-header-->
	                    <div class="modal-body">
                        	<div id="ComplaintStatusBoxBody">
							</div>
                    	</div><!--end modal-body-->
						
	                    <div class="modal-footer bg-body">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div><!--end modal-footer-->
	               
	                </div><!--end modal-content-->
	            </div><!--end modal-dialog-->
	        </div><!--end modal-->
			<!-- END Page Content -->
			
			<!--  Box 3 -->
			<div class="modal fade" id="viewFileBox" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	            <div class="modal-dialog modal-xl" role="document">
	                <div class="modal-content">
	                    
	                  	<div class="modal-header" style="background-color: #28a745 !important;">
	                          <h6 class="modal-title m-0" id="viewFileTitle">View File</h6>
		                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    </div><!--end modal-header-->
	                    <div class="modal-body p-0">
                        	<div id="viewFileBoxBody">
							</div>
                    	</div><!--end modal-body-->
						
	                    <div class="modal-footer bg-body">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div><!--end modal-footer-->
	               
	                </div><!--end modal-content-->
	            </div><!--end modal-dialog-->
	        </div><!--end modal-->
			<!-- END Page Content -->
			
			<!--  Box 4 -->
			<div class="modal fade" id="viewFile" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	            <div class="modal-dialog modal-xl" role="document">
	                <div class="modal-content">
	                    
	                  	<div class="modal-header" style="background-color: #28a745 !important;">
	                          <h6 class="modal-title m-0" id="viewFileTitle">View File</h6>
		                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    </div><!--end modal-header-->
	                    <div class="modal-body">
                        	<div id="viewFileBoxBody2">
                        		ss
							</div>
                    	</div><!--end modal-body-->
						
	                    <div class="modal-footer bg-body">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div><!--end modal-footer-->
	               
	                </div><!--end modal-content-->
	            </div><!--end modal-dialog-->
	        </div><!--end modal-->
			<!-- END Page Content -->
			
			<!--  Box 0 common -->
			<div class="modal fade" id="forwardModalBox" data-backdrop="static" tabindex="1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	            <div class="modal-dialog modal-lg" role="document">
	                <div class="modal-content">
	                    
	                  	<div class="modal-header" style="background-color: #28a745 !important;">
	                          <h6 class="modal-title m-0" id="forwardModalTitle">Modal Title</h6>
		                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    </div><!--end modal-header-->
	                    <div class="modal-body">
                        	<div id="forwardModalBody">
							</div>
                    	</div><!--end modal-body-->
						
	                    <div class="modal-footer bg-body">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div><!--end modal-footer-->
	               
	                </div><!--end modal-content-->
	            </div><!--end modal-dialog-->
	        </div><!--end modal-->
			<!-- END Page Content -->